.login {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa;
}

.login-form {
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    border: 1px solid lightgray;
}

.login-form input {
    margin: 10px auto;
}
.login-form :focus {
    outline: none;
    box-shadow: 0 0 10px #b1cc71;
}

.login-form button {
    width: 134px;
    height: 22px;
    margin-top: 20px;
    background: #b1cc71;
    border-radius: 3px;
}

.login ::placeholder{
    text-align: center;
}

