.comment {
    display: flex;
    margin-bottom: -10px;
    margin-left: 5px;
    line-height: 1.4;
}

.text {
    margin-left: 5px;
}

.reply {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}

.reply p {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 30px;
}

.comments-wrapper input {
    background: white;
    margin-bottom: 5px;
    margin-left: 5px;
    border: 0px solid;
}