.post-container-wrapper {
    width: 500px;
    margin-top: 40px;
}

.post-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
}

.post-header {
    display: flex;
}

.post-header p {
    margin-top: 15px;
    margin-left: 5px;
}

.user {
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 20px;
}

.post-image {
    width: 499px;
    height: 500px;
}

.social-icons i {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
}

.fa-heart:hover {
    cursor: pointer;
}

.fas {
    color: red;
    animation: after-like 2s ease;
}

@keyframes after-like {
    0% {
        color: white;
    }

    100% {
        color: red;
    }
}

.likes {
    margin-top: 10px;
    margin-bottom: -25px;
    margin-left: 5px;
}
