.post-container-wrapper {
    width: 500px;
    margin-top: 40px;
}

.post-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
}

.post-header {
    display: flex;
}

.post-header p {
    margin-top: 15px;
    margin-left: 5px;
}

.user {
    width: 30px;
    height: 30px;
    margin: 10px;
    border-radius: 20px;
}

.post-image {
    width: 499px;
    height: 500px;
}

.social-icons i {
    font-size: 20px;
}